* {
  box-sizing: border-box;
}

body {
  background-color: rgb(238, 238, 238);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: Georgia, serif;
  font-size: 1em;
  line-height: 1.2;
}

.card {
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  max-width: 35%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 5px 5px 15px black;
}

.card-content {
  padding: 30px;
}

img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 100%;
}

.card-content button {
  background-color: rgb(0, 153, 0);
  border: none;
  color: white;
  float: right;
  padding: 5px 7px;
  margin-bottom: 20px;
  border-radius: 5px;
}
