html {
  font-family: Helvetica, sans-serif;
}

nav {
  display: inline-block;
}

ul {
  margin-left: 120px;
  list-style-type: none;
}

ul li {
  display: inline-block;
  padding-right: 10px;
}

h1 {
  padding-left: 40px;
}

a {
  text-decoration: none;
}

blockquote {
    border: 1px black solid;
}

main {
    padding-left: 44px;
}
