/* TODO: Add responsive styles here... */
@media all and (max-width: 600px) {
  #home > section.container-fluid.hero > img {
    display: none;
  }

  .navbar-light .navbar-brand {
    margin: 0 auto;
  }

  #home > section.container-fluid.hero > article > h1 {
    margin: 40px 0;
    text-align: center;
  }

  .hero-btns {
    display: flex;
    flex-direction: column;
    width: 65%;
    align-items: center;
    margin: 5% auto;
  }

  .hero-btns a:first-child,
  .hero-btns a:last-child {
    padding: 17px 53px;
  }

  body > section.about > div > div > div:nth-child(2) {
    text-align: center;
  }

  #contact-us > div > div:nth-child(1) > div {
    text-align: center;
  }

  .hero-btns.contact-btn {
    display: none;
  }

  .contact-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  body > footer > div > div > div > h3 {
    padding: 0 22px;
  }
}
