body {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(238, 238, 238);
    height: 100vh;
    font-family: Helvetica, sans-serif;
}

header {
    flex-basis: 100%;
}

h1 {
    border-bottom: 2px solid black;
    padding: 15px;
}

footer {
    position: sticky;
    bottom: 0;
    color: rgb(255, 255, 255);
    background-color: rgb(102, 102, 102);
    flex-basis: 100%;
}