* {
    font-family: 'Poppins';
}

html {
    box-sizing: border-box;
}

body {
    margin: 20px;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Montserrat';
}

main {
    position: relative;
    max-width: 48%;
    float: left;
}

.car {
    position: relative;
    float: right;
    margin-top: 25px;
    max-width: 46%;
}

.icon {
    max-width: 10%;
    float: left;
    margin-right: 10px;
}
