@import url("https://use.fontawesome.com/releases/v5.15.4/css/all.css");

p.first {
    margin-top: 70px;
}

p {
    position: block;
    margin-left: 50px;
    margin-bottom: 42px;
}

a.click {
  background-color: green;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
}

a.email {
    text-decoration: none;
    color: white;
    background-color: blue;
    border-radius: 5px;
    padding: 10px;
}
