*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Georgia;
}

body {
  font-family: Helvetica;
  margin: 10px 216px;
}

article {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.btn {
  color: white;
  background-color: #03a87c;
  border: none;
  padding: 7px 23px;
  margin-right: 113px;
  margin-bottom: 21px;
  width: 65%;
  font-size: 15px;
}

section p {
    width: 61%;
}

span {
    background-color: #CEFDE9;
}